.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  z-index: 100;
}

.navbar_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar_logo_text {
  font-family: "Bookman Old Style", serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #789776;
  margin-left: -3px;
}

.navbar_list {
  display: flex;
  gap: 26px;
}

.navbar_link {
  font-family: "Raleway", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 13px; /* было 16px */
  line-height: 1; /* 100% */
  letter-spacing: 0.05em; /* 5% */
  text-transform: uppercase; /* Case: Uppercase */
  color: #5B6158; /* color text */
  text-decoration: none;
  
  /* Вертикальное выравнивание */
  display: inline-block;
  vertical-align: bottom; /* Vertical alignment: Bottom */
  
  /* Размеры из макета (для ссылки "Программы") */
  width: 90px; /* возможно для всех ссылок разная ширина */
  height: 12.46px; /* высота текста */
  
  /* Для центрирования текста */
  text-align: center;
  
  /* Transition для hover эффекта */
  transition: color 0.3s ease;
}


.navbar_link:hover {
  color: rgba(31, 31, 31, 0.6);
}

.navbar_phone {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar_phone_icon_wrapper {
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.navbar_phone:hover .navbar_phone_icon_wrapper {
  background: var(--color-dark);
}

.navbar_phone:hover .navbar_phone_icon {
  filter: invert(1);
}

.navbar_burger {
  display: none;
}